*{margin: 0; padding: 0;}
body,html
{
width: 100%;
background-color: rgba(244, 184, 94, 1);
display: flex;
align-items: center;
align-content: center;
flex-direction: column;
}

tr{
   font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(43, 95, 186, 1);
    color: white;
}

td{
    padding: 5px;
}

#listar-usu{
    color: rgba(43, 95, 186, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

#msg-bemvindo
{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}