body,html
{
    width: 100%;
    background-color: rgba(244, 184, 94, 1);
   display: flex;
   align-items: center;
   align-content: center;
   flex-direction: column;
   margin: 0%
}

.voltar
{
    width: 100%;
    display: flex;
    flex-direction:row; 
    align-items: left;
    margin-left: 0%
}

.rodape
{
    align-items: center;
}

h1
{
    text-align: center;
    width:max-content;
    color: rgba(43, 95, 186, 1);
    font-family: 'Jomhuria';
    font-style: normal;
    font-size: 60px;
}
p
{

    text-align: center;
    width: max-content;
    color: rgba(43, 95, 186, 1);
    font-family: 'Jomhuria';
    font-style: normal;
}
a
{
    text-decoration: none;
    color: rgba(43, 95, 186, 1);
    font-family: 'Jomhuria';
    font-style: normal;
    
}

.tudo_user
{

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(43, 95, 186, 1);
    opacity: 1; /* Firefox */
    font-size: 14px;
  }
  .sair{
      width: 40%;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      color: rgba(43, 95, 186, 1); 

  }